body {
  margin: 0px;
}

.main-wrapper {
    overflow: hidden;
    position: relative;
}

.new-dog-btn {
    background-color: rgba(100, 44, 165);
    border: none;
    color: white;
    left: 20px;
    position: absolute;
    top: 20px;
}

.dog-img {
    object-fit: cover;
}


