body {
    font-family: helvetica, arial, sans-serif;
    margin: 0;
}

.sp-app-widget {
    align-items: center;
    background-image: url('./img/pizza-bg.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.sp-app-widget__btn {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #333;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.4s;
}

.sp-app-widget__btn:hover {
    background-color: #eee;
}

.sp-app-modal__navigation {
    display: flex;
    margin-bottom: 8px;
    justify-content: center;
}

.sp-app-modal__navigation-btn {
    margin-right: 16px;
    border: 1px solid #333;
    background-color: #fff;
    cursor: pointer;
    background-color: #fff;
    font-size: 16px;
    border-radius: 4px;
    padding: 4px 8px;
    transition: 0.4s;
}

.sp-app-modal__navigation-btn:hover {
    background-color: #eee;
}

.sp-app-sign-up {
    background-color: #eee;
    height: 100vh;
    padding-top: 8px;
    padding-bottom: 8px;
    background-image: url('./img/pizza-maker.jpg');
    background-position: center center;
    background-size: cover;
}

.sp-app-sign-up__wrapper {
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.sp-app-sign-up-title {
    text-align: center;
    font-size: 32px;
    color: #333;
}

.sp-app-sign-up-title:before,
.sp-app-sign-up-title:after {
    background-color: #000;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.sp-app-sign-up-title:before {
    right: 0.5em;
    margin-left: -50%;
}

.sp-app-sign-up-title:after {
    left: 0.5em;
    margin-right: -50%;
}

.sp-app-sign-up__form-group {
    margin-bottom: 16px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.sp-app-sign-up__input {
    width: 100%;
    padding: 4px 4px 4px 8px;
}

.sp-app-pizzas-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px 24px;
    padding: 16px 8px;
}

.sp-app-pizza-lists-pizza__name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.sp-app-pizza-lists-pizza__img {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 4px;
}

.sp-app-pizza-lists-pizza__btn-group {
    display: grid;
    grid-template-columns: 40px 60px 40px;
    grid-gap: 8px;
}

.sp-app-pizza-lists-pizza__btn {
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #333;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    transition: 0.4s;
}

.sp-app-pizza-lists-pizza__btn {
    background-color: #eee;
}

.sp-app-pizza-lists-pizza__input {
    padding-left: 8px;
}

.sp-app-pizzas-list__submit-btn {
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #333;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    transition: 0.4s;
}

.sp-app-pizzas-list__submit-btn:hover {
    background-color: #eee;
}

.sp-app-order-summary {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.sp-app-order-summary-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.sp-app-order-summary-btn {
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #333;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    transition: 0.4s;
}

.sp-app-order-summary-btn:hover {
    background-color: #eee;
}

.sp-app-order-summary-table,
.sp-app-order-summary-table th,
.sp-app-order-summary-table td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

.sp-app-order-success {
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.sp-app-order-success__message {
    width: 100%;
}
